
<div class="container home">
	<div class="row">
		<div class="col-md-4">
			<%= partial "layouts/card" %>
		</div>
		<div class="col-md-4">
			<%= partial "layouts/card" %>
		</div>
		<div class="col-md-4">
			<%= partial "layouts/card" %>
		</div>
	</div>
</div>
